{% extends 'base.html.twig' %}

{% block title %}
    {{ page }}
{% endblock %}

{% block style %}
    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }
        main {
            flex: 1;
        }
    </style>
{% endblock %}

{% block content %}
    <main class="grid-y align-center">
        <h1 class="text-center margin-bottom-2">About</h1>
        <div class="grid-x align-center">
            <div class="small-10 medium-8 large-5 text-center">
                <p class="lead">Simple is a PHP starter project for educational purpose or small projects.</p>
                <p class="lead"><a href="https://github.com/bastosh/simple-skeleton">simple-skeleton</a> includes only the core features.</p>
                <p class="lead"><a href="https://github.com/bastosh/simple-twig">simple-twig</a> provides a templating engine.</p>
                <p class="lead"><a href="https://github.com/bastosh/simple-mvc">simple-mvc</a> adds an admin area to CRUD basic items.</p>
                <p class="lead"><a href="https://github.com/bastosh/simple-cms">simple-cms</a> adds a simple blog management.</p>
                <p class="lead"><a href="https://github.com/bastosh/simple-demo">simple-demo</a> adds demo pages.</p>
            </div>
        </div>
    </main>
{% endblock %}
