$blue-gray: #5E6977;
$blue-gray-dark: #545E6B;

$white: #FFFFFF;
$gray-lightest: #F8FAFC;
$gray-lighter: #F1F5F8;
$gray-light: #DAE1E7;
$gray-base: #B8C2CC;
$gray-dark: #8795A1;
$gray-darker: #606F7B;
$gray-darkest: #3D4852;
$black: #22292F;
$teal : #4DC0B5;
$indigo : #6574CD;
$purple : #9561E2;
$pink : #F66D9B;
$foundation-palette: (
        black:          #22292F,
        white:          #FFFFFF,
        primary:        #3490DC,
        secondary:      #7dc855,
        success:        #38C172,
        warning:        #F6993F,
        alert:          #E3342F,
        light:          #F8FAFC,
        dark:           #3D4852,
        blue-darkest:   #12283A,
        blue-darker:    #1C3D5A,
        blue-dark:      #2779BD,
        blue:           #3490DC,
        blue-light:     #6CB2EB,
        blue-lighter:   #BCDEFA,
        blue-lightest:  #EFF8FF,
        red-darkest:    #3B0D0C,
        red-darker:     #621B18,
        red-dark:       #CC1F1A,
        red:            #E3342F,
        red-light:      #EF5753,
        red-lighter:    #F9ACAA,
        red-lightest:   #FCEBEA,
        green-darkest:  #0F2F21,
        green-darker:   #1A4731,
        green-dark:     #1F9D55,
        green:          #38C172,
        green-light:    #51D88A,
        green-lighter:  #A2F5BF,
        green-lightest: #E3FCEC,
        gray-darkest:   #3D4852,
        gray-darker:    #606F7B,
        gray-dark:      #8795A1,
        gray:           #B8C2CC,
        gray-light:     #DAE1E7,
        gray-lighter:   #F1F5F8,
        gray-lightest:  #F8FAFC,
        teal-darkest:   #0D3331,
        teal-darker:    #20504F,
        teal-dark:      #38A89D,
        teal:           #4DC0B5,
        teal-light:     #64D5CA,
        teal-lighter:   #A0F0ED,
        teal-lightest:  #E8FFFE,
        indigo-darkest: #191E38,
        indigo-darker:  #2F365F,
        indigo-dark:    #5661B3,
        indigo :        #6574CD,
        indigo-light:   #7886D7,
        indigo-lighter: #B2B7FF,
        indigo-lightest:#E6E8FF,
        purple-darkest: #21183C,
        purple-darker:  #382B5F,
        purple-dark:    #794ACF,
        purple:         #9561E2,
        purple-light:   #A779E9,
        purple-lighter: #D6BBFC,
        purple-lightest:#F3EBFF,
        pink-darkest:   #451225,
        pink-darker:    #6F213F,
        pink-dark:      #EB5286,
        pink:           #F66D9B,
        pink-light:     #FA7EA8,
        pink-lighter:   #FFBBCA,
        pink-lightest:  #FFEBEF,
);
$light-gray: $gray-lighter;
$medium-gray: $gray-base;
$dark-gray: $gray-dark;
$text-primary: $gray-darkest;
$text-secondary: $gray-dark;
$text-heading: $gray-darkest;
$text-subheading: $gray-darker;
$text-muted: $gray-dark;
$text-placeholder: $gray-base;
$text-light: $gray-light;
$text-inverted: $white;
$separator: rgb(235, 235, 235);
// End Palette Tailwind

// Increase to lighten
$message-primary-bg-opacity : 43;
$message-secondary-bg-opacity: 41;
$message-success-bg-opacity: 48;
$message-warning-bg-opacity: 35;
$message-alert-bg-opacity: 43;

@each $key, $value in $foundation-palette {
  .color-#{$key} {
    color: $value !important;
  }

  .bg-#{$key} {
    background-color: $value !important;
  }
}